@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,500,700|Oswald:400,300,700);
/*font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;*/
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.analytics{
  width: 100%;
  height: 120px;
  border: 1px solid #333;
}


.modal-content{
  padding-bottom: 10px !important;
}

.row{
  margin-bottom: 10px !important;
}

.sidenavbar{
  min-height: 580px;
  border-right: 1px solid #dfdfdf;
}

.sidenavbar ul li{
  height: 50px;
  border-bottom: 1px solid #dfdfdf;
  padding-top: 20px;
}

.sidenavbar ul li a{
  margin-top: 10px;
  color: #000;
}

textarea{
	border-width: 0 0 1px 0px;
}

.number{
  height: 50px;
}

.dropdown-content {
  height: 110px;
}

.dropdown-content li{
  line-height: 0.8rem;
  font-size: 0.9rem;
}

.dropdown-content li > a{
  padding: 0.5rem 1rem;
  text-align: center;
}

.dropdown-content li img{
  border-radius: 50%;
}
