<template name='applicants'>
	Showing all applicants
	<a href="{{pathFor 'newApplicant'}}">New Applicant</a>
	<div>
		<table border="1">
			<thead>
				<tr>
					<th>Name</th>
					<th>College</th>
					<th>Date Created</th>
					<th>stage</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{{#each applicants}}
				<tr>
					<td>{{firstName}}</td>
					<td>{{college}}</td>
					<td>{{createdAt}}</td>
					<td>
						{{#each stagesPassed}}
						{{stageName stageId}}
						{{else}}
						no stage set
						{{/each}}
					</td>
					<td>
						<a href="#" class="viewApplicant">view</a> 
						<a href="">update</a>
						<a href="">comments</a>
						<a href="" class="remove">remove</a>
						
					</td>
				</tr>	
				{{/each}}
			</tbody>
		</table>
	</div>

	<!-- End of Modal -->
	<div id="myModal" class="modal modal-fixed-footer">
		<div class="modal-content">
			<h4>Modal Header</h4>
			<p>A bunch of text</p>
		</div>
		<a class="close-reveal-modal">&#215;</a>
	</div>
</template>