<template name='applicants'>
	Showing all applicants
	<a href="{{pathFor 'newApplicant'}}">New Applicant</a>
	<div>
	<table border="1">
			<thead>
				<tr>
					<th>Name</th>
					<th>College</th>
					<th>Date Created</th>
					<th>stage</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{{#each applicants}}
				<tr>
					<td>{{firstName}}</td>
					<td>{{college}}</td>
					<td>{{createdAt}}</td>
					<td>
					{{#each stagesPassed}}
						{{stageName stageId}}
					{{else}}
					no stage set
					{{/each}}
					</td>
					<td>
						<a href="">view</a> 
						<a href="">update</a>
						<a href="">comments</a>
						<a href="" class="remove">remove</a>
						
					</td>
				</tr>	
				{{/each}}
			</tbody>
		</table>
	</div>
</template>