<template name='applicants'>
	<div class="applicantsDash">
		<a href="#" class="button tiny radius round newApplicant">New Applicant</a> 
		Showing all applicants
		
		<input type="file" id="files" name="files[]" multiple>
		<div>
			<table border="1">
				<thead>
					<tr>
						<th>Name</th>
						<th>College</th>
						<th>stage</th>
						<th>actions</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#each applicants}}
					<tr>
						<td>{{firstName}}</td>
						<td>{{college}}</td>
						<td>
							{{#each stagesPassed}}
							{{stageName stageId}}
							{{else}}
							no stage set
							{{/each}}
						</td>
						<td>
							<div class="applicant-actions">
								<a href="" class="view" title="View">
									<i class='fa fa-eye'></i>
								</a> 
								<a href="{{pathFor 'editApplicant' _id=this._id}}" class="" title="Edit">
									<i class="fa fa-pencil"></i>
								</a>
								<!-- <a href="" >
									<i class="fa fa-comment-o"></i>
								</a> -->
								<a href="" class="remove" title="Remove"><i class="fa fa-times"></i></a>
							</div>
						</td>
						<td>							
							<ul class="stack-for-small round secondary button-group stack-applicant">
								<li>
									<a href="#" class="button tiny applicantPassed success">passed</a>
								</li>
								<li>
									<a href="#" class="button tiny applicantFailed alert">failed</a>
								</li>
							</ul>
						</td>
					</tr>	
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
	<div id="myModal" class="reveal-modal" style="style='width: 40%;border-radius: 10px;'" data-reveal>
		{{> quickForm collection="Applicants" id="insertApplicantForm" type="insert"}}
		<a class="close-reveal-modal" style="font-weight: 100;">&#215;</a>
	</div>
	<div id="viewModal" class="reveal-modal" style="style='width: 40%;border-radius: 10px;'" data-reveal>
		{{>viewApplicant}}
		<a class="close-reveal-modal" style="font-weight: 100;">&#215;</a>
	</div>
	<div id="updateModal" class="reveal-modal" style="style='width: 40%;border-radius: 10px;'" data-reveal>
		{{>updateApplicant}}
		<a class="close-reveal-modal" style="font-weight: 100;">&#215;</a>
	</div>
</template>