/*main.css.scss*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,900,700,500);

$torquoise: #1DD2AF;
$emarald: #2ECC71;
$peter-river: #4AA3DF;
$amethyst: #9B59B6;
$wet-asphalt: #3D566E;

.fa-university{
	color: $torquoise !important;
}

.fa-mortar-board{
	color: $emarald !important;
}

.fa-bus{
	color: $peter-river !important;
}

.fa-trophy{
	color: $amethyst !important;
}

.fa-cup{
	color: $wet-asphalt !important;
}

$font-family: 'Roboto', sans-serif;
body{
	font-size: 13px;
	font-family: $font-family;
	height: 100%;
}

nav{
	border-bottom: 1px solid #999;

	.left{
		margin-left: 30px;

		img{
			width: 22px;
			margin-right: 20px;
			padding: 4px 0px;
		}

		h4{
			display: inline-block;
			font-family: $font-family;
		}
	}
	.right{
		display: inline-block;

		a{
			color: #999;
			border-left: solid 1px #999;
			font-size: 100%;
			display: inline-block;
			padding: 10px 14px;

			&:hover{
				color: #000;
			}

			i{
				font-size: 23px;
			}
		}
	}
}

.clear{
	clear: both;
}

#leftNav{
	border-right: 1px solid #999;
	height: 100%;
	padding: 0px;
}

ul.page-nav{
	margin: 0px;

	li{
		list-style-type: none;

		a{
			color: #999;
			text-align: left;
			display: block;
			border-bottom: 1px solid #999;
			padding: 8px 40px;
			font-size: 14px;

			i{
				margin-right: 10px;
				color: #333;
				display: inline-block;
				background-color: #FFF;
				padding: 5px;
				border-radius: 50%;
				text-align: center;
			}

			&:hover{
				color: #111;
			}
		}
	}
}

#dashboard{
	height: 100%;

	.dashboard{
		padding: 20px;

		.notice{
			color: #FFF;
			background-color: #2ecc71;
			padding: 12px 8px;
			box-shadow: 0px 0px 3px #DDD;
			border-radius: 5px;
			text-align: center;
			p{
				margin: 0px;
			}
			h4{
				color: #fff;
				font-size: 40px;
				text-align: center;
			}
		}
	}

	#settings-dash{
		padding: 20px;
	}

	.all_eits_dash{
		padding: 20px;
	}

	.applicantsDash{
		padding: 20px;	
	}
	
	.prospects{
		padding: 20px;
		.tabs-content{
			border: #EFEFEF solid 1px;
			border-radius: 0px 0px 5px 5px;
		}
		dl.tabs{
			dd{
				background-color: #EFEFEF;
				border:1px solid #EFEFEF;

				&:first-child{
					border-radius: 15px 0px 0px 0px;
				}

				&:last-child{
					border-radius: 0px 15px 0px 0px;
				}

				a{
					/*background-color: transparent;*/
					font-weight: 100;
					font-family: $font-family;
					padding: 10px 30px;
					border-radius: 15px 15px 0px 0px;

				}
			}
		}
	}

	.dash-board{

		.holder{
			padding:18px 9px;
			margin: 18px;
			box-shadow: 0px 0px 2px #EEE;
			background-color: #9DADAD;
			color: #FFF;
		}

		i{
			font-size: 100px;
			display: block;
			text-align: center;
			color: white !important;

			&:before{

			}

		}
		div.info{
			text-align: center;
			.number{
				font-size: 50px;
			}

		}
	}
}

input[type="file"]{
	display: inline-block;
	width: auto;

	&:hover{
		&:before {
			border-color: black;
		}
	}

	&:active{
		&:before {
			background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
		}
	}

	&:before{
		content: 'Select some files';
		display: inline-block;
		background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
		border: 1px solid #999;
		border-radius: 3px;
		padding: 5px 8px;
		outline: none;
		white-space: nowrap;
		-webkit-user-select: none;
		cursor: pointer;
		text-shadow: 1px 1px #fff;
		font-weight: 700;
		font-size: 10pt;
	}

	&::-webkit-file-upload-button {
		visibility: hidden;
	}
	/*line-height: 0;
	font-size: 50px;
	opacity: 0;
	filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
	cursor: pointer;
	_cursor: hand;
	margin: 0;
	padding:0;
	left:0;*/
}