<template name="prospects">
	<div class="prospects">
		<div class="new-prospects">
			<a href="" class="newProspect button tiny round radius">New Prospect</a> 
			<a href="#" class="loadCSV">LoadFrom CSV</a>
		</div>
		<dl class="tabs" data-tab>
			<dd class="active"><a href="#panel2-1">All</a></dd>
			<dd><a href="#panel2-2" class="panelTab">EITS</a></dd>
			<dd><a href="#panel2-3" class="panelTab">Staffs</a></dd>
			<dd><a href="#panel2-4" class="panelTab">Investors</a></dd>
			<dd><a href="#panel2-5">Fellows</a></dd>
		</dl>
		<div class="tabs-content">
			<div class="content active" id="panel2-1">
				<p>
					{{> prospectCards datum=prospects}}
				</p>
			</div>
			<div class="content" id="panel2-2">
				<p>
					aaa{{> prospectCards datum=eits}}
				</p>
			</div>
			<div class="content" id="panel2-3">
				<p>
					{{> prospectCards datum=staffs}}
				</p>
			</div>
			<div class="content" id="panel2-4">
				<p>
					{{> prospectCards datum=investors}}
				</p>
			</div>			
			<div class="content" id="panel2-5">
				<p>
					{{> prospectCards datum=fellows}}
				</p>
			</div>
		</div>
	</div>
	<div id="myModal" class="reveal-modal" style="style='width: 40%;border-radius: 10px;'" data-reveal>
		{{#autoForm collection="Prospects" id="addProspect" type="insert"}}
		<div class="modal-content">
			<div class="row">
				<div class = 'col s6'>
					{{> afQuickField name='firstName' }}
				</div>
				<div class = 'col s6'>
					{{> afQuickField name='lastName' }}
				</div>
				<div class = 'col s6'>
					{{> afQuickField name='email'}}
				</div>
				<div class = 'col s6'>
					{{> afQuickField name='contact' }}
				</div>
				<div class = 'col s6'>
					{{> afQuickField name='category' }}
				</div>
				<div class = 'col s6'>
					{{> afQuickField name='description' }}
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">Submit</button>
			<a type="submit"  class="waves-effect waves-green btn-flat modal-action modal-close">Agree</a>
		</div>
		{{/autoForm}}
		<a class="close-reveal-modal" style="font-weight: 100;">&#215;</a>
	</div>
</template>

